<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conexión a Servidores</title>
    <link rel="stylesheet" href="/static/estilos.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
        </div>

        <main class="table_consul" id="country_table">
            <section class="section_left">
                <h3>Conexión a Servidores</h3>
                <div>
                    <h4>Ingrese su país</h4>
                    <input type="text" id="country" placeholder="Ejemplo: Bolivia">
                    <button class="botton_Conectar" onclick="connectServer()">
                        Conectar
                    </button>
                    <!-- Modal (tarjeta emergente) -->
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <p id="modal-message"></p>
                            <button id="modal-close" onclick="closeModal()">Aceptar</button>
                        </div>
                    </div>

                </div>
            </section>
            <section class="section_right">
                <div class="combo_inputs">
                    <div>
                        <label for="origin">Origen</label>
                        <select id="origin">
                            <option value="">Seleccione Origen</option>
                            {% for airport in airports['origen'] %}
                                <option value="{{ airport }}">{{ airport }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="destination">Destino</label>
                        <select id="destination">
                            <option value="">Seleccione Destino</option>
                            {% for airport in airports['destino'] %}
                                <option value="{{ airport }}">{{ airport }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="date_input">
                    <div>
                        <label for="date">Fecha</label>
                        <input type="date" id="date">
                    </div>
                    <div>
                        <button class="botton_AceptarBu" onclick="accept()">
                            Aceptar
                        </button>
                    </div>
                </div>
            </section>
        </main>
               
                
        <!-- Aquí se inserta la tabla -->
        <main class="table" id="customers_table">
            <section class="table__header">
                <h1>Vuelos Disponibles</h1>
                <div class="input-group">
                    <input type="search" placeholder="Search Data...">
                    <img src="/static/images/search.png" alt="">
                </div>
                <div class="export__file">
                    <label for="export-file" class="export__file-btn" title="Export File"></label>
                    <input type="checkbox" id="export-file">
                    <div class="export__file-options">
                        <label>Export As &nbsp; &#10140;</label>
                        <!-- Nueva opción para ir a la página de Aviones -->
                        <label for="export-file" id="toAviones" onclick="window.location.href='/aviones'">
                            AVIONES <img src="/static/images/AvionLogo.png" alt="">
                        </label>
                        <label for="export-file" id="toConsultas" onclick="window.location.href='/consultas'">
                            CONSULTAS <img src="/static/images/Consulta.png" alt="">
                        </label>                        
                        <label for="export-file" id="toJSON">JSON <img src="/static/images/json.png" alt=""></label>
                        <label for="export-file" id="toCSV">CSV <img src="/static/images/csv.png" alt=""></label>
                        <label for="export-file" id="toEXCEL">EXCEL <img src="/static/images/excel.png" alt=""></label>
                       
                    </div>
                </div>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Nombre Vuelo <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Fecha Salida <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Hora Salida<span class="icon-arrow">&UpArrow;</span></th>
                            <th> Estado <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Realizar <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    <script>
        function connectServer() {
            let country = document.getElementById("country").value;
            fetch('/connect', {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ country: country })
            })
            .then(response => response.json())
            .then(data => {
                // Mostrar el mensaje en el modal
                document.getElementById("modal-message").innerText = data.message;
                showModal(); // Muestra el modal

            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

        function showModal() {
            document.getElementById("modal").style.display = "flex"; // Muestra el modal
        }

        function closeModal() {
            document.getElementById("modal").style.display = "none"; // Cierra el modal
        }

        function accept() {
            let origin = document.getElementById("origin").value;
            let destination = document.getElementById("destination").value;
            let date = document.getElementById("date").value;

            // Imprimir los valores a la consola para verificar que se están obteniendo correctamente
            console.log("Origen:", origin);
            console.log("Destino:", destination);
            console.log("Fecha:", date);

            fetch('/buscar_vuelos', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ origin: origin, destination: destination, date: date })
            })
            .then(response => response.json())
            .then(data => {
                let tableBody = document.querySelector(".table__body tbody");
                tableBody.innerHTML = "";  // Limpiar tabla

                console.log(data);  // Esto te mostrará todos los datos que recibes en la consola
                data.forEach(flight => {
                    let row = `<tr>
                        <td>${flight.idVuelo}</td>
                        <td>${flight.origen} - ${flight.destino}</td>  
                        <td>${flight.fechaSalida}</td>
                        <td>${flight.horaSalida}</td>
                        <td><p class="status">${flight.estado}</p></td>
                        <td> <a href="/info?id=${flight.idVuelo}" class="botton_info">Ver Detalles</a> </td>
                    </tr>`;
                    tableBody.innerHTML += row;
                });
            })
            .catch(error => console.error("Error:", error));
        }



    </script>
    
    <script src="/static/js/script.js"></script>
</body>
</html>